.gallery {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
    justify-content: flex-start;
    background-color: #F6F6F6;
    border-radius: 25px;
    max-width: 1240px;
    margin: 0 auto;

    .card-logements {
        position: relative;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        margin: 25px auto;

        .card-img {
            width: 340px;
            height: 340px;
            border-radius: 10px;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            top: 75%;
            margin: 20px;
            font-weight: 700;
            font-size: 18px;
            color: white;
            text-shadow: 0 4px 4px #000000;
        }
    }

    .card-logements:hover {
        cursor: pointer;
    }
}

@media (max-width: 1140px) {

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 780px) {

    .gallery {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-content: center;

        .card-logements {
            width: 90%;

            .card-img {
                width: 100%;
            }
        }
    }
}